@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");

:root {
  --font: "Epilogue", sans-serif;
  --white: hsl(0, 0%, 98%);
  --medium-gray: hsl(0, 0%, 41%);
  --black: hsl(0, 0%, 8%);
  --black-transparent: hsla(0, 0%, 8%, 0.75);
  --blue: hsl(228, 45%, 44%);
}

/* CSS Reset */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Styles */

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font);
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--black);
  background-color: var(--white);
  width: min(100%, 144rem);
  margin: 0 auto;
}

button {
  display: block;
  border: 1px solid transparent;
  background: none;
  font: inherit;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style: none;
}

.lock-scroll {
  overflow: hidden;
}

img {
  display: block;
}

/* Header */

.header {
  width: min(91.46667%, 34.3rem);
  margin: 2.4rem auto 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.logo {
  width: 8.4rem;
}

.nav-wrapper {
  background-color: var(--black-transparent);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  justify-content: flex-end;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}

.nav-wrapper.open {
  transform: translateX(0);
}

.navigation {
  width: 64%;
  height: 100%;
  background-color: var(--white);
  padding: 2.2rem 2rem 2.2rem 2.4rem;
}

.navigation .navigation-btn {
  margin-left: auto;
}

.nav-links {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-top: 3.2rem;
}

.nav-link {
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: var(--medium-gray);
}

.nav-link-wrapper:nth-of-type(1) .nav-link,
.nav-link-wrapper:nth-of-type(2) .nav-link {
  position: relative;
  margin-right: 2.4rem;
}

.nav-link-wrapper:nth-of-type(1) .nav-link::after,
.nav-link-wrapper:nth-of-type(2) .nav-link::after {
  content: "";
  width: 0.8rem;
  height: 0.4rem;
  background-image: url("../images/icon-arrow-down.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  right: -1.6rem;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}

.member-links {
  display: none;
}

/* Main */

.main {
  margin-top: 2.4rem;
}

.hero-img {
  width: 100%;
}

.text-content {
  margin-top: 4.775rem;
}

.main-heading {
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 4.2rem;
  text-align: center;
  letter-spacing: -0.5px;
}

.paragraph {
  font-size: 1.6rem;
  line-height: 2.6rem;
  text-align: center;
  color: var(--medium-gray);
  width: min(91.46667%, 34.3rem);
  margin: 1.6rem auto 0;
}

.btn-link {
  display: block;
  width: fit-content;
  margin: 2.4rem auto 0;
  background-color: var(--black);
  color: var(--white);
  border-radius: 15px;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.6rem;
  text-align: center;
  letter-spacing: -0.222222px;
  padding: 1.2rem 2rem 1rem 2.4rem;
  border: 1px solid transparent;
}

.client-logos-container {
  width: min(91.46667%, 34.3rem);
  margin: 4.8rem auto 9.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.databiz {
  width: 8.125rem;
}

.audiophile {
  height: 2.6rem;
}

.meet {
  width: 6.414rem;
}

.maker {
  width: 5.89rem;
}

/* Footer */

.attribution {
  font-size: 11px;
  text-align: center;
  padding-bottom: 1rem;
}

.attribution a {
  color: var(--blue);
}

.attribution a:hover {
  text-decoration: underline;
}

/* Media Queries */

@media screen and (min-width: 376px) {
  .header {
    width: min(94.4444%, 136rem);
  }
}

@media screen and (min-width: 840px) {
  /* Header */

  .header {
    margin: 2.4rem auto 0;
    justify-content: flex-start;
    align-items: center;
  }

  .nav-wrapper {
    background-color: var(--white);
    position: static;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    margin-left: 62.24px;
    transform: translateX(0);
    z-index: 0;
  }

  .navigation {
    width: 100%;
    height: auto;
    padding: 0;
    display: flex;
  }

  .navigation-btn {
    display: none;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4rem;
    margin: 0;
  }

  .nav-link {
    font-size: 1.4rem;
    line-height: 1.6rem;
    transition: all 0.2s ease-in-out;
  }

  .member-links {
    display: flex;
    align-items: center;
    gap: 4rem;
    margin-left: auto;
  }

  .member-link {
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: var(--medium-gray);
    transition: all 0.2s ease-in-out;
  }

  .member-link.register {
    border: 1px solid var(--medium-gray);
    border-radius: 14px;
    width: 10.4rem;
    height: 4.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-link:hover,
  .member-link:hover {
    color: var(--black);
  }

  .member-link.member-link.register:hover {
    border: 1px solid var(--black);
  }

  .nav-link-wrapper:nth-of-type(1) .nav-link:hover::after,
  .nav-link-wrapper:nth-of-type(2) .nav-link:hover::after {
    background-image: url("../images/icon-arrow-down-hover.svg");
  }

  /* Main */

  .main {
    width: min(94.4444%, 136rem);
    margin: 6.7rem auto 13rem;
    display: flex;
    flex-direction: row-reverse;
    justify-items: space-between;
    align-items: center;
  }

  .hero-img {
    width: 48rem;
  }

  .text-content {
    margin: 0 auto 0 0;
    width: min(100%, 54rem);
  }

  .main-heading {
    font-size: 8rem;
    line-height: 8rem;
    text-align: left;
    letter-spacing: -1.11111px;
  }

  .new-line {
    display: block;
  }

  .paragraph {
    font-size: 1.8rem;
    line-height: 2.8rem;
    text-align: left;
    color: var(--medium-gray);
    width: min(100%, 44.5rem);
    margin: 4.8rem 0 0;
  }

  .btn-link {
    margin: 5.1rem auto 0 0;
    font-size: 1.8rem;
    line-height: 2.8rem;
    letter-spacing: -0.25px;
    padding: 1.5rem 2.8rem 1.3rem 3.1rem;
    transition: all 0.5s ease-in-out;
  }

  .btn-link:hover {
    border: 1px solid var(--black);
    background-color: var(--white);
    color: var(--black);
  }

  .client-logos-container {
    width: min(100%, 47.763rem);
    margin: 10.8rem auto 0 0;
  }

  .databiz {
    width: auto;
    height: 2rem;
  }

  .audiophile {
    height: auto;
    width: 7.3rem;
  }

  .meet {
    width: auto;
    height: 2rem;
  }

  .maker {
    width: auto;
    height: 2.4rem;
  }
}

@media screen and (min-width: 1440px) {
  /* Main */

  .main {
    width: min(100%, 114.5rem);
    margin: 6.7rem auto 13rem 16.5rem;
    align-items: flex-start;
  }

  .text-content {
    margin: 10.4rem auto 0 0;
  }
}
